<div class="about-container">
  <h3>ToDo App</h3>
  <p>Todo app is an easy to use online Todo list. It helps you to get organized, simplify your life, and to get things done.</p>
  <p>You can perform following with this application,</p>
  <ul>
    <li>Add a ToDo</li>
    <li>Edit a ToDo</li>
    <li>Toggle a ToDo, to mark as completed or pending</li>
    <li>Delete a ToDo</li>
  </ul>
  <p>This is fast and fluid because it use browser local storage to store your todo list.</p>
  <p><strong>Note: </strong><em>Beware before cleanning your browser local storage.</em></p>
</div>